$background: #1A1A1D;
$transparent-background: rgba(255, 255, 255, 0.1);
$icon-blur: rgba(255, 255, 255, 0.75);
$icon-focus: #FFFFFF;
$invalid: #dc3545;

body {
    background-color: $background;
}
  
.global-controls {
    margin-left: -4rem;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    background-color: $transparent-background;
}
  
.play-pause-container{
    position: relative;
}

.icon-button {
    outline: none;
    border: none !important;
    box-shadow: none !important;
    padding-top: 0.75rem;
}



.play-pause {
    max-height: 3rem;
    position: relative;
}
  
.timer-outline {
    position: absolute;
}

.volume, .stopwatch {
    height: 1.75rem;
}

#global-volume-icon {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

#timer-icon {
    margin-left: 0.5rem;
}

.playlist-icon {
    height: 1.5rem;
}
  
#global-volume {
    padding-bottom: 0.5rem;
    background: transparent;
    position: relative;
    top: 0.5rem;
}

#playlists-button {
    padding-top: 0.5rem;
}
  
.playlist-controls {
      position: fixed;
      top: 0.75rem;;
      right: 0.5rem;
}
  
#playlist-modal-dialog {
    max-width: 16rem;
}
  
.playlist img{
    height: 2.5rem;
}
  
#timer-modal-dialog {
      max-width: 250px!important;
}
  
.modal-dialog {
    margin: auto;
}
  
.timer-input {
      display: inline;
      max-width: 65px;
      padding-left: 0.5rem;
}
  
.invalid-timer{
    border-color: $invalid;
}
  
#invalid-timer-feedback {
    font-size: 80%;
    color: $invalid;
}
  
.sound-grid {
      min-height: 80vh
}
  
.container {
    padding-left: 8%;
    padding-right: 8%;
}

img {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}
  
.sound-icon {
    max-height: 3.5rem;
    min-width: 3.5rem;
    border-radius: 30%;
    padding: 0.5rem;
    background-color: $transparent-background;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
  
.row{
    i {
        font-size: 2rem;
    }
}
  
.about {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

img.about-icon {
    max-height: 3rem;
    padding: 0.75rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
}

.modal-body button {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

/**Range Input Styles**/
input[type=range] {
    appearance: none;
    max-width: 4rem;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.1px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #010000, 0px 0px 0px #1b0000;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 2px #000031, 0px 0px 0px #00004b;
    border: 0px solid #ffffff;
    height: 15px;
    width: 16px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    appearance: none;
    margin-top: -5.15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.78);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.1px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #010000, 0px 0px 0px #1b0000;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 2px #000031, 0px 0px 0px #00004b;
    border: 0px solid #ffffff;
    height: 15px;
    width: 16px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5.1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(242, 242, 242, 0.78);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 1px #010000, 0px 0px 0px #1b0000;
}

input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 1px #010000, 0px 0px 0px #1b0000;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 2px #000031, 0px 0px 0px #00004b;
    border: 0px solid #ffffff;
    height: 15px;
    width: 16px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 5.1px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
}

@media only screen and (min-width: 992px){
    .global-controls {
        margin-left: -8.125rem;
        padding-bottom: 0.75rem;
        background-color: $transparent-background;
    }

    .volume, .stopwatch {
        height: 2.5rem;
    }

    #timer-icon {
        margin-left: 1rem;
    }

    #global-volume-icon {
        margin-right: 1rem;
    }

    #play-pause {
        padding-top: 0.25rem;
    }

    .play-pause {
        max-height: 3rem;
        position: relative;
    }

    .icon-button {
        padding-top: 0.5rem;
    }

    .playlist-icon {
        height: 2rem;
    }

    .playlist img{
        height: 4rem;
    }

    .container {
        padding-left: 17%;
        padding-right: 17%;
    }

    .sound-icon {
        max-height: 5.5rem;
        border-radius: 30%;
        padding: 1rem;
        min-width: 5rem;
        background-color: $transparent-background;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
    }

    .about {
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    input[type=range] {
        appearance: none;
        width: 100%;
        max-width: 7.25rem;
    }

    #playlist-modal-dialog {
        max-width: 22rem;
    }

    .modal-body button {
        margin-left: 0.35rem;
        margin-right: 0.35rem;
    }
}